{% extends "::base.html.twig" %}


{% block title %}AddressBookBundle:Person:index{% endblock %}


{% block body %}
    {{ parent() }}


{% endblock %}
        {% block content %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <br>
            <br>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Imię:</th>
                    <th>Nazwisko:</th>
                    <th>Edycja:</th>
                </tr>
                </thead>
                <tbody>

                {% if persons is defined %}
                    {% for person in persons %}
                        <tr>
                            <th>{{ person.name }}</th>
                            <th>{{ person.surname }}</th>
                            <th><a href="/person/show/{{ person.id }}">
                                    <button class="btn btn-success">Edytuj</button>
                                </a></th>
                        </tr>
                        {#<img src="/Uploads/{{ person.photo }}" height="200" width="200"><br>#}
                    {% endfor %}
                {% else %}
                    <tr>
                        <th>{{ person.name }}</th>
                        <th>{{ person.surname }}</th>
                        <th><a href="/person/show/{{ person.id }}">
                                <button class="btn btn-success">Edytuj</button>
                            </a></th>
                    </tr>
                    {#<img src="/Uploads/{{ person.photo }}" height="200" width="200"><br>#}

                {% endif %}
                </tbody>
            </table>
        {% endblock %}