{% extends "::base.html.twig" %}

{% block title %}Dodaj Grupę:{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

    {% block content %}

        {% if error is defined %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endblock %}
